.hero
  margin-bottom: rem(30)
  @include adaptiv('margin-top', 85, 40, 0)

  &__img
    max-width: rem(555)
    width: 100%
    margin: auto
    @include aic-jcc
    width: 100%
    img
      width: 100%