footer.footer
  .container
    .footer__inner 
      include ../includes/social 

  .footer__links 
    a(href="#").footer__links-item My History
    a(href="#").footer__links-item My Open Trades























