.hero   
  .container
    .hero__inner

      div
        .title.title_centered.title_h1(data-aos="fade-down") A Sea of Offers <br> Awaits
          .title__backlight.backlight-js
            span You

        .subtitle.subtitle_centered(data-aos="fade-down" data-aos-delay="300")
          span Coral 
          | empowers P2P trading making it easier for 
          span you <br>
          | to onboard into the crypto world   

      .hero__img(data-aos="zoom-in" data-aos-delay="600")
        img(src="images/dist/hero.svg", alt="")