.pagination.pagination_centered
  ul 
    li.pagination__start
      a(href="#")
        .icon
          svg
            use(xlink:href='sprite.svg#doubleangle')
    
    li.pagination__back
      a(href="#") 
        .icon
          svg
            use(xlink:href='sprite.svg#angle')
    li.active
      a(href="#") 1
    li 
      a(href="#") 2
    li 
      a(href="#") 3
    li . . .
    li 
      a(href="#") 7
    li 
      a(href="#") 8
    li 
      a(href="#") 9

    li.pagination__forward
      a(href="#") 
        .icon
          svg
            use(xlink:href='sprite.svg#angle')

    li.pagination__end 
      a(href="#")
        .icon
          svg
            use(xlink:href='sprite.svg#doubleangle')
