script(src="https://code.jquery.com/jquery-3.7.1.min.js") 
script(src="https://unpkg.com/aos@3.0.0-beta.6/dist/aos.js") 
script(src="js/aos.js") 
script(src="js/backlight.js") 
script(src="js/filter.js") 
script(src="js/form-validation.js") 
script(src="js/my-offers-edit.js") 
script(src="js/notification.js") 
script(src="js/popup.js") 
script(src="js/select.js") 
script(src="js/sellers-table.js") 
script(src="js/switch.js") 
script(src="js/trades.js") 