extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | Home | Coral
block main
  .wrapper
    .content
      include includes/header1
      include includes/hero
      
      include includes/offer
      include includes/sellers
      include includes/popup
      

      
      
    include includes/footer

  include includes/scripts 