extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | trades
block main
  .wrapper
    .content
      include includes/header2
      
      .trades
        .container
          
          include includes/table
      

      
      
    include includes/footer

  include includes/scripts 